.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center; /* Centra los elementos */
}

.search-input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  flex: 1; /* Permite que el input crezca */
  min-width: 200px; /* Ancho mínimo para los inputs */
  width: 100%;
}

.search-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }
}